========BACKEND==========
PORT=7000
MONGODB_URI= yourMONGO_URI

CLIENT_URL=http://localhost:5173


CLERK_WEBHOOK_SECRET_KEY= YOURCLERK_WEBHOOK_SECRET_KEY

CLERK_PUBLISHABLE_KEY= YOUR CLERK_PUBLISHABLE_KEY

CLERK_SECRET_KEY = YOUR CLERK_SECRET_KEY


IMAGEKIT_PUBLIC_KEY= YOUR IMAGEKIT_PUBLIC_KEY
IMAGEKIT_PRIVATE_KEY= YOUR IMAGEKIT_PRIVATE_KEY
IMAGEKIT_URL_ENDPOINT= YOUR IMAGEKIT_URL_ENDPOINT


==================FRONTEND ===============

VITE_CLERK_PUBLISHABLE_KEY= YOUR VITE_CLERK_PUBLISHABLE_KEY
VITE_BASE_URL= YOUR BACKEND LINK
